@font-face {
    font-family: sanslight;
    src: url(../../fonts/OpenSansCondensed-Light.ttf);
}

.workspacelogo
{
    position: absolute;
    top: 30%;
    left: 37%;
    font-size: 60px;
    font-family: 'sanslight';
}

.copyrights{
  position: absolute;
  top:90%;
  left:40%;
}

.progressindicator
{
    position: absolute;
    top: 50%;
    left: 35%;
    width: 30%;
}

.animateprogressbar
{
    animation-name: animateprogressindicator;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

.progress{
  height: 5px;
}

@keyframes animateprogressindicator
{
    from
    {
        width: 10%;
    }
    to
    {
        width: 100%;
    }
}
