html{
	width:100%;
	height:100%;
}
body{
	width:100%;
	height:100%;
}
.loading-panel {
	/*
	aligning center logic
	*/
	z-index: 699;
	color: white;
	top: 30%;
	margin: auto;
	float: none;
	vertical-align: center;
}

.side-nav {
	height: 100%;
	opacity: 0;
	width: 10px;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	background-color: white;
	overflow-x: hidden;
	transition-property: width, opacity;
	transition-duration: 20ms, 0s;
	overflow-x: hidden;
	overflow-y: hidden;
}

.side-nav:hover {
	width: 250px;
	opacity: 1;
}

.tab-pane {
	width:100%;
	height:100%;
}

.api-call-manager {
	height: inherit;
	min-height: 50px;
}

.api-params {
	float: left;
}

.api-save {
	float: right;
	margin-right: 10px;
}

.api-send {
	float: right;
	margin-right: 10px;
}

.api-http-method {
	float: left;
}

.api-url {
	float: left;
	width: 60%;
}

.dark-theme {
	background-color: #212121;
}

.dark-theme>h3 {
	color: #ececec;
}

.dark-theme.tab-content {
	background: #212121;
}

.dark-theme>nav>ul>li>a>span>img {
	height: 40px;
	width: 40px;
	margin-right: 10px;
}

.dark-theme>nav {
	background: #e9e9e9;
	padding-top: 20px;
}

.align-left {
	float: left;
}

.align-right {
	float: right;
}

.set-max-width-75-per {
	max-width: 75%;
}

.set-min-height-50-px {
	min-height: 50px;
}

.user-gravatar {
}

.side-nav>ul>li {
	min-width: 250px;
}

.dark-panel {
	background: #424242;
	color: #eeeeee;
}

.response-header {
	line-height: 3;
	border: 1px solid black;
	padding-left:10px;
}

.response {
	min-height: 250px;
	width:100%;
	border: 1px solid black;
}
.api-config-tabs{
	height: 200px;
}

body::-webkit-scrollbar {
    width: 10px;
    height: 16px;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scroller-button{
	width: 0;
    height: 0;
    display: none;
}

body::-webkit-scrollbar-corner {
    background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.2);
}

.header-logo{
	width: 250px;
    height: 60px;
    background: rgba(0, 0, 0, 0.14);
    color: #fff;
    position: relative;
    padding: 10px 0 0 0px;
    float: left;
    text-align: center;
}

.main-logo{
	color:#fff;
	float:left;
}