.loading-panel {
	/*
	aligning center logic
	*/
	z-index: 699;
	color: white;
	top: 30%;
	margin: auto;
	float: none;
	vertical-align: center;
}

.side-nav {
	height: 100%;
	opacity: 0;
	width: 10px;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	background-color: white;
	overflow-x: hidden;
	transition-property: width, opacity;
	transition-duration: 20ms, 0s;
	overflow-x: hidden;
    overflow-y: hidden;
}

.side-nav:hover {
	width: 250px;
	opacity: 1;
}

.tab-pane {
	min-height: 100vh;
}

.api-call-manager {
	height: inherit;
	min-height: 50px;
}

.api-params {
	float: left;
}

.api-save {
	float: right;
	margin-right: 10px;
}

.api-send {
	float: right;
	margin-right: 10px;
}

.api-http-method {
	float: left;
}

.api-url {
	float: left;
	width: 60%;
}

.dark-theme {
	background-color: #3d464d;
	color: #3d464d;
}

.dark-theme>h3 {
	color: #ececec;
}

.dark-theme.tab-content {
	background: #3d464d;
	color: #3d464d;
}

.dark-theme>#page-title {
	color: #3d464d;
}

.align-left {
	float: left;
}

.align-right {
	float: right;
}

.set-max-width-75-per {
	max-width: 75%;
}

.set-min-height-50-px {
	min-height: 50px;
}