/*
remove once kode is introduced
 .flex-container {
	position: relative;
	top: 10px;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	flex-wrap: wrap;
}

.default-flex-item {
	width: 150px;
	height: 140px;
	border-style: solid;
	border-width: thin;
	border-color: cornflowerblue;
	background-color: none;
}

.flex-container>div {
	box-sizing: border-box;
	margin: 10px;
	width: 150px;
	height: 140px;
}

.default-flex-item>img:hover {
	z-index: 2;
	-webkit-transition: all 200ms ease-in;
	-webkit-transform: scale(4.3, 3.3);
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(4.3, 3.3);
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(4.3, 3.3);
	transition: all 200ms ease-in;
	transform: scale(4.3, 3.3);
	transform-origin: 0px 0px;
}

.default-flex-item img {
	max-width: 150px;
	max-height: 140px;
	min-width: 150px;
	min-height: 140px;
}

#upload-screenshot {
	position: relative;
	top: 45px;
	left: 35%;
}

#dropable-area {
	width: 150px;
	height: 140px;
}

.quickaccess-datanode {
	
}

.web-view-container {
	position: absolute;
	left: 5px;
	width: 99%;
	border: 1px solid black;
}

#web-view-control-group {
	display: flex;
	margin: 10px;
}

#tab-content {
	display: flex;
}

Tab backgroud color : #ededee

#tab-content>img {
	width: 20px;
	height: 20px;
}

#top-of-screen {
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 10px;
}

.hide-main-nav-tabs {
	z-index: 10;
	opacity: 0;
	position: absolute;
	width: 100vw;
	height: 5px;
	top: -10px;
	transition-property: opacity, top;
	transition-duration: 200ms;
	transition-timing-function: ease-in;
	background-color: white;
}

.hide-main-nav-tabs:hover {
	opacity: 1;
	width: 100vw;
	height: 45px;
	top: 0px;
	z-index: 10;
}

.hide-workspaceenhancer-Logo {
	display: none;
}

.hide-main-nav-tabs :hover {
	z-index: 2;
	-webkit-transition: all 200ms ease-in;
	-webkit-transform: translate(0px, 0px);
	transition: all 200ms ease-in;
	transform: translate(0px, 0px);
} */
.loading-panel {
	/*
	aligning center logic
	*/
	z-index: 699;
	color: white;
	top: 30%;
	margin: auto;
	float: none;
	vertical-align: center;
}

.side-nav {
	height: 100%;
	opacity: 0;
	width: 10px;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	background-color: white;
	overflow-x: hidden;
	transition-property: width, opacity;
	transition-duration: 20ms, 0s;
}

.side-nav:hover {
	width: 150px;
	opacity: 1;
}

.tab-pane {
	min-height: 100vh;
}

.api-call-manager {
	overflow: overlay;
}

.api-params {
	float: left;
}

.api-save {
	float: right;
    margin-right: 10px;
}

.api-send {
	float: right;
    margin-right: 10px;
}

.api-http-method {
	float: left;
}

.api-url {
	float: left;
	width: 60%;
}