.flex-container {
	position: relative;
	top: 10px;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	flex-wrap: wrap;
}

.default-flex-item {
	width: 150px;
	height: 140px;
	border-style: solid;
	border-width: thin;
	border-color: cornflowerblue;
	background-color: none;
}

.flex-container>div {
	box-sizing: border-box;
	margin: 10px;
	width: 150px;
	height: 140px;
}

.default-flex-item>img:hover {
	z-index: 2;
	-webkit-transition: all 200ms ease-in;
	-webkit-transform: scale(4.3, 3.3);
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(4.3, 3.3);
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(4.3, 3.3);
	transition: all 200ms ease-in;
	transform: scale(4.3, 3.3);
	transform-origin: 0px 0px;
}

.default-flex-item img {
	max-width: 150px;
	max-height: 140px;
	min-width: 150px;
	min-height: 140px;
}

#upload-screenshot {
	position: relative;
	top: 45px;
	left: 35%;
}

#dropable-area {
	width: 150px;
	height: 140px;
}

.quickaccess-datanode {
}

.web-view-container{
    position: absolute;
    left: 5px;
    width: 99%;
    border: 1px solid black;
}
#web-view-control-group{
	display: flex;
    margin: 10px;
}

#tab-content {
	display:flex;
}
/*
Tab backgroud color : #ededee
*/
#tab-content>img{
	width:20px;
	height:20px;
}