<!DOCTYPE html>
<html ng-app="workspaceApp">
<head>
<meta charset="UTF-8">
<title>Workspace Fabric</title>
<link rel="stylesheet" href="css/jquery-ui.min.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/custom-root.css">
<link rel="stylesheet" href="css/animation-styles.css">
<script src="js/init.js"></script>
<script>
	$ts.preinit();
	$ts.registerGlobalNameSpace();
</script>
<!--  Starts Scripts Hierarchy -->
<!-- Load third Party Files First -->
<script src="js/external/bootstrap.min.js"></script>
<script src="js/external/jquery-ui.js"></script>
<script src="js/external/angular.min.js"></script>
<script src="js/external/notify.js"></script>

<!-- Load  Utils-->
<script src="js/utils/networkUtils.js"></script>
<script src="js/utils/domUtils.js"></script>
<!-- Load Handlers -->
<script src="js/handlers/genereateEvents.js"></script>
<script src="js/handlers/eventHandler.js"></script>
<script src="js/handlers/quickAccessEventHandler.js"></script>
<script src="js/handlers/livebrowserEventHandler.js"></script>
<script src="js/handlers/webViewEventHandler.js"></script>
<!-- Load Controllers -->
<script src="js/controllers/mainController.js"></script>
<script src="js/controllers/quickAccessDataController.js"></script>
<script src="js/controllers/globalControllers.js"></script>
<script src="js/controllers/angularControllers.js"></script>
<script src="js/controllers/fipDataController.js"></script>
<!-- Load Models -->
<script src="js/models/defaultStaticModels.js"></script>
<script src="js/models/mainModel.js"></script>
<script src="js/models/dialogModel.js"></script>
<script src="js/models/liveBrowserModels.js"></script>
<script src="js/models/nodeRequires.js"></script>
<!-- Load views -->
<script src="js/views/mainView.js"></script>
<script src="js/views/quickaccessView.js"></script>
<script src="js/views/genericViews.js"></script>
<script src="js/views/livebrowserView.js"></script>
<!-- Load Library Files -->
<script src="js/lib/quickaccessUI.js"></script>
<!--  init and load angular -->
<script>
	var $angular = angular.module('workspaceApp', []);
	$ts.registerAngularAll();
</script>
<!-- End of scripts Hierarchy -->
</head>
<body onload="$ts.init()">
	<div class="loading">
		<!--  <img src="img/loading.gif" alt="loading-img">-->
		<div class="col-lg-3 col-md-4 col-xs-6 loading-panel">
			<div class="panel panel-transparent">
				<div class="panel-title">A product of toString()</div>
				<div class="panel-body">
					<h3 style="color: #32aeff">Workspace Fabric</h3>
					<div class="progress progress-striped active">
						<div class="progress-bar" role="progressbar" aria-valuenow="60"
							aria-valuemin="0" aria-valuemax="100" style="width: 2%;">
							<span class="sr-only">60% Complete</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="top" class="clearfix">

		<!-- Start App Logo -->
		<div class="header-logo">
			<a href="#" class="sidebar-open-button"><i class="fa fa-bars"></i></a>
			<a href="index.html" class="main-logo">Workspace Fabric</a>
		</div>
		<div id="user-gravatar" class="user-gravatar">
			<ul class="top-right">
				<li class="dropdown link"><a href="#" class="profilebox"
					aria-expanded="false"><img src="imgs/user-gravatar.png"
						alt="img"><b>Jona Doe</b></a></li>
			</ul>
		</div>
		<!-- End of app logo -->
	</div>
	<div role="tab-panel" class="dark-theme">
		<nav class="side-nav dark-theme">
			<ul id="main-nav-tabs" class="nav nav-tabs nav-stacked">
				<li id="quick-access-li" class="active"><a data-toggle="tab"
					href="#quick-access"> <span class="icon"><img
							src="imgs/quick-access-50.png" alt="img">Quick Access </a></li>
				<li id="live-browser-li"><a data-toggle="tab"
					href="#live-browser"> <span class="icon"><img
							src="imgs/live-browser.png" alt="img"></span>Browser
				</a></li>
				<li id="todo-list-li"><a data-toggle="tab" href="#todo-list">
						<span class="icon color6"><img src="imgs/todo-50.png"
							alt="img"></span>Todo List
				</a></li>
				<li id="api-management-li"><a data-toggle="tab"
					href="#api-management"><span class="icon"><img
							src="imgs/api-mang-50.png" alt="img"></span>API Management</a></li>
				<li id="find-in-path-li"><a data-toggle="tab"
					href="#find-in-path"><span class="icon"><img
							src="imgs/fip-50.png" alt="img"></i></span>Find In Path</a></li>
				<li id="open-my-tools-li"><a data-toggle="tab"
					href="#open-my-tools"><span class="icon"><img
							src="imgs/.png" alt="img"></span>OWN</a></li>
			</ul>
		</nav>
		<div class="tab-content dark-theme">
			<div id="quick-access" role="tabpanel"
				class="tab-pane active dark-theme">
				<!-- <h3>Quick Access</h3> -->
				<div class="col-md-6 col-lg-4 col-xs-6">
					<div class="panel-dark panel-default">
						<div class="panel-body dark-theme">
							<button id="upload-screenshot" type="button"
								class="btn btn-white btn-center">
								<span class="glyphicon glyphicon-plus"></span>
							</button>
						</div>
					</div>
				</div>
				<div id="dialog" title="Upload Image">
					<form>
						<div class="form-group">
							<label for="inputdefault">Nick Name</label> <input
								class="form-control" id="pic-name" type="text">
						</div>
						<div class="form-group">
							<label for="inputdefault">Logical Group</label> <input
								class="form-control" id="pic-group" type="text">
						</div>
						<div class="form-group">
							<label for="inputdefault">File Input URL</label> <input
								class="form-control" id="pic-group" type="text">
						</div>
						<button id="open-electron-dialog" type="button"
							class="btn btn-default">
							<span>Upload</span>
						</button>
					</form>
				</div>
			</div>
			<div id="live-browser" role="tabpanel" class="tab-pane dark-theme">
				<div id="web-view-control-group" class="set-min-height-50-px">
					<div class="input-group align-left set-max-width-75-per">
						<input type="text" id="live-browser-url" class="form-control"
							placeholder="Search" id="inputGroup" /> <span
							class="input-group-addon"> <i
							class="glyphicon glyphicon-search"></i>
						</span>
					</div>
					<button id="change-url" type="button"
						class="btn btn-default align-left">
						<span class="glyphicon glyphicon-arrow-right"></span>
					</button>
					<button id="go-home" type="button"
						class="btn btn-default align-left">
						<span class="glyphicon glyphicon-home"></span>
					</button>
				</div>

				<div id="web-container" role="tab-panel">
					<ul id="web-view-tabs" class="nav nav-tabs">
						<li class="active"><a data-toggle="tab" href="#tab1">
								<div id="tab-content">
									<!-- <img src="gif/page-load.gif"> -->
									<div id="page-title">Google</div>
								</div>
						</a></li>
						<li><a data-toggle="tab" id="add-newtab" href="#new-tab">
								<div id="tab-content">
									<!-- <span class="glyphicon glyphicon-plus"></span> -->
									<div id="page-title">New Tab</div>
								</div>
						</a></li>
					</ul>
					<div class="tab-content">
						<div id="tab1" class="tab-pane fade in active">
							<webview id="web-view" src="https://www.google.com"
								style="width: 100%;height: calc(100vw - 100px);"></webview>
						</div>
						<div id="new-tab" class="tab-pane fade">
							<webview id="web-view" src="about:blank"
								style="width: 100%;height: calc(100vw - 100px);"></webview>
						</div>
					</div>
				</div>
			</div>
			<div id="todo-list" role="tabpanel" class="tab-pane dark-theme">
				<!-- <h3>Todo List</h3> -->
				<!-- Start Panel -->
				<div class="">
					<div class="panel-dark panel-default">
						<div class="panel-title">
							With Tools
							<ul class="panel-tools">
								<li><a class="icon minimise-tool"><i
										class="fa fa-minus"></i></a></li>
								<li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
								<li><a class="icon closed-tool"><i class="fa fa-times"></i></a></li>
							</ul>
						</div>
						<div class="panel-body">We choose to go to the moon in this</div>

					</div>
				</div>
				<!-- End Panel -->
			</div>
			<div id="api-management" role="tabpanel" class="tab-pane dark-theme">
				<!-- <h3>API Management</h3> -->
				<div role="tabpanel">
					<ul class="nav nav-tabs">
						<li role="presentation" class="active"><a
							href="#new-api-call-tab" aria-controls="new-api-call-tab"
							role="tab" data-toggle="tab">New Tab</a></li>
						<li role="presentation"><a href="#add-new-api-tab"
							aria-controls="home" role="tab" data-toggle="tab"><span
								class="glyphicon glyphicon-plus"></span></a></li>
					</ul>
					<div class="tab-content">
						<!-- <div role="tabpanel" class="tab-pane active" id="new-api-call-tab"> -->
						<div class="api-call-manager">
							<div class="dropdown api-http-method">
								<button class="btn dropdown-toggle" type="button"
									id="dropdownMenu1" data-toggle="dropdown" aria-expanded="false">
									GET <span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu"
									aria-labelledby="dropdownMenu1">
									<li role="presentation"><a role="menuitem" tabindex="-1"
										href="#">GET</a></li>
									<li role="presentation"><a role="menuitem" tabindex="-1"
										href="#">POST</a></li>
									<li role="presentation"><a role="menuitem" tabindex="-1"
										href="#">PUT</a></li>
									<li role="presentation"><a role="menuitem" tabindex="-1"
										href="#">DELETE</a></li>
									<li role="presentation"><a role="menuitem" tabindex="-1"
										href="#">PATCH</a></li>
								</ul>
							</div>
							<input type="text" class="form-control api-url" />

							<button type="button" class="btn api-params">Params</button>
							<div class="btn-group api-save">
								<button type="button" class="btn">Save</button>
								<button type="button" class="btn dropdown-toggle"
									data-toggle="dropdown" aria-expanded="false">
									<span class="caret"></span> <span class="sr-only">Toggle
										Dropdown</span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li><a href="#">Save as</a></li>
								</ul>
							</div>
							<div class="btn-group api-send">
								<button id="api-send-button" type="button" class="btn">Send</button>
								<button type="button" class="btn dropdown-toggle"
									data-toggle="dropdown" aria-expanded="false">
									<span class="caret"></span> <span class="sr-only">Toggle
										Dropdown</span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li><a href="#">Send and Download</a></li>
								</ul>
							</div>
						</div>
						<div class="api-configuration">
							<div role="tabpanel">
								<!-- Nav tabs -->
								<ul class="nav nav-tabs nav-line" role="tablist">
									<li role="presentation" class=""><a
										href="#api-authorization" aria-controls="home5" role="tab"
										data-toggle="tab" aria-expanded="false">Authorization</a></li>
									<li role="presentation" class="active"><a
										href="#api-headers" aria-controls="profile5" role="tab"
										data-toggle="tab" class="active" aria-expanded="true">Headers</a></li>
									<li role="presentation"><a href="#api-body"
										aria-controls="messages5" role="tab" data-toggle="tab">Body</a></li>
								</ul>

								<!-- Tab panes -->
								<div class="tab-content api-config-tabs">
									<div role="tabpanel" class="tab-pane" id="api-authorization">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
									</div>
									<div role="tabpanel" class="tab-pane active" id="api-headers">
										<p>Ut in leo ut libero sodales feugiat</p>
									</div>
									<div role="tabpanel" class="tab-pane" id="api-body">
										<p>Duis ac enim diam</p>
									</div>
								</div>
							</div>
						</div>
						<div class="response-header">
							<span>Response</span>
						</div>
						<div id="api-response" class="response"></div>
						<!-- </div> -->
					</div>
				</div>
			</div>
			<div id="find-in-path" role="tabpanel" class="tab-pane dark-theme">
				<!-- <h3>Find in path</h3> -->
				<div class="row">
					<div class="">
						<div class="panel-dark panel-default">
							<div class="panel-title">
								System and User Paths
								<ul class="panel-tools">
									<li><a class="icon search-tool"><i
											class="fa fa-search"></i></a></li>
									<li><a class="icon minimise-tool"><i
											class="fa fa-minus"></i></a></li>
									<li><a class="icon expand-tool"><i
											class="fa fa-expand"></i></a></li>
									<li><a class="icon closed-tool"><i class="fa fa-times"></i></a></li>
								</ul>
							</div>
							<div class="panel-search" style="display: none;">
								<input type="text" ng-model="searchText" placeholder="Search">
								<i class="fa fa-search icon"></i>
							</div>
							<div class="panel-body">
								<table class="table table-hover">
									<thead>
										<tr>
											<td>Serial ID</td>
											<td>Path Variable</td>
											<td class="text-center"><i class="fa fa-trash"></i></td>
										</tr>
									</thead>
									<tbody ng-controller="fipController">
										<tr ng-repeat="eachObj in systempaths track by $index">
											<td># <b>{{eachObj.id}}</b></td>
											<td>{{eachObj.path}}</td>
											<td class="text-center"><div class="checkbox margin-t-0">
													<input id="checkbox1" type="checkbox"><label
														for="checkbox1"></label>
												</div></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="">
						<div class="panel-dark panel-default">
							<div class="panel-title">Find variable</div>
							<div class="panel-body"></div>

						</div>
					</div>
				</div>
			</div>
			<div id="open-my-tools" role="tabpanel" class="tab-pane">
				<!-- <h3>OWN</h3> -->
				<p>Helps You to open your tools on the fly with a single click</p>
			</div>
		</div>
	</div>
</body>
</html>