<html lang="en">
	<head>
		<title>WSF|Credits</title>
		<meta charset="utf-8">
		<link rel="icon" href="imgs/favicon.png">
		<!-- Loding CSS Files-->
		<link rel="stylesheet" type="text/css" href="../css/tparty/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../css/tparty/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="../css/credits.css">
		<link rel="stylesheet" type="text/css" href="../css/colors.css">
		<link rel="stylesheet" type="text/css" href="../css/main.css">
		<!--Loading JS Files -->
		<!-- Electron related Fix  -->
		<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
		<!-- Electron related Fix -->
		<script>if (window.module) module = window.module;</script>
	</head>
	<body class="background-color-dark">
		<h3 class="content">Credits</h3>
		<ul class="nolist content">
			<li>
				Bharadwaj Turlapati
			</li>
			<li>
				Saketh Verma
			</li>
		</ul>
		<h3 class="content">Special Thanks</h3>
		<ul class="nolist content">
			<li>
				Jquery Developers
			</li>
			<li>
				Bootstrap Developers
			</li>
			<li>
				Angular Developers
			</li>
			<li>
				CodeMirror Developers
			</li>
			<li>
				Java Developers
			</li>
			<li>
				MarkDown Developers
			</li>
			<li>
				Jetty Developers
			</li>
			<li>
				Electron Developers
			</li>
			<li>
				Proactive StackOverflow Users
			</li>
			<li>
				Any Good Documented code and specially undocumented code. psst :/
			</li>
		</ul>
	</body>
</html>