<div class="quick-access-banner">
	QuickAccess
</div>
<section class="products" id="locations">
	<div ng-click="addPlace()" class="product-card">
		<div id="addplace" class="product-image">
			<i class="fa fa-plus color-white"></i>
			<span>Add a place</span>
		</div>
		<div class="product-info">
			<h5></h5>
			<h6></h6>
		</div>
	</div>
</section>
<div id="popup-quickAccess" class="popup-quickAccess">
	<div><i ng-click="closeDialog()" class="fa fa-times"></i> </div>
	<div>Path : <input type="text" id="input-path" name="path" placeholder="input the path"/></div>
	<div>Name : <input type="text" id="loca-name" name="identifier" placeholder="location name"/></div>
	<div><button id="addLocation" ng-click="addLocationtoGrid()">Add Location</button></div>
</div>