@font-face {
    font-family: sanslight;
    src: url(../fonts/OpenSansCondensed-Light.ttf);
}

body{
	margin: 0px;
}
.main-table{
	width:100%;
	height: 100%;
}
.main-table-row{
	width:100%;
}
.side-nav-cell{
	width:54px;
	background-color:#336cb3;
	vertical-align: top;
}
.widget-view-cell{
	vertical-align: top;
	text-align: left;
	padding-left: 30px;
}
.side-nav-class{

}
.operations{
	list-style: none
	width: 54px;
    padding: 0px;}

.operations >li{
	height:50px;
	margin-top: 10px;
}
 .operations >li>img{
 	width: 48px;
    height: 48px;
    margin-left: 2px;
 }

 .operations >li>a>img{
 	width: 48px;
    height: 48px;
    margin-left: 2px;
 }

 .dashboard-banner{
 	font-size: 36px;
 	color:#336cb3;
 	border-bottom:2px solid white;
 }

 .user-banner{
 	width: 100%;
 	height: 25px;
 	background-color:#336cb3;
 	font-family: sans-serif;
 }

 .trail-user-banner{
 	float: right;
    position: relative;
    right: 15%;
    font-size: 14px;
    color: white;
 }

 .loadingScreen {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #336cb3; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-screen{
	position: absolute;
	width: 100%
	height:100%;
	top:0px;
	left:0px;
	background-color: #f3f3f3;
	z-index: 9999;
}