.products {
	display: flex;
	flex-wrap: wrap;
}

.product-card {
	padding: 2%;
    /* flex: 1 18%; */
    margin: 10px;
    border: 2px solid white;
    color: white;
    width: 250px;
    height: 250px;
}
.product-image{
	width: 150px;
	height: 150px;
	color: white;
}

.product-image > i{
	position: relative;
    top: 75px;
    left: 75px;
}

.product-image img {
	max-width: 100%;
}

.product-info {
  margin-top: auto;
}

.quick-access-banner{
	margin-top: 28px;
	font-size:25px;
	color:#336cb3;
}

.popup-quickAccess{
	display: none;
	border: 1px solid #e5e5e5;
	width:300px;
	height:300px;
	position: absolute;
	top:40%;
	left:40%;
	z-index: 2;
	border-radius: 5px;
	background-color: #e5e5e5
}