<h3>API Management</h3>
<div role="tabpanel">
	<ul class="nav nav-tabs">
		<li role="presentation" class="active"><a
			href="#new-api-call-tab" aria-controls="new-api-call-tab" role="tab"
			data-toggle="tab">New Tab</a></li>
		<li role="presentation"><a href="#add-new-api-tab"
			aria-controls="home" role="tab" data-toggle="tab"><span
				class="glyphicon glyphicon-plus"></span></a></li>
	</ul>
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="new-api-call-tab">
			<div class="api-call-manager">
				<div class="dropdown api-http-method">
					<button class="btn dropdown-toggle" type="button"
						id="dropdownMenu1" data-toggle="dropdown" aria-expanded="false">
						GET <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu"
						aria-labelledby="dropdownMenu1">
						<li role="presentation"><a role="menuitem" tabindex="-1"
							href="#">GET</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1"
							href="#">POST</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1"
							href="#">PUT</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1"
							href="#">DELETE</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1"
							href="#">PATCH</a></li>
					</ul>
				</div>
				<input type="text" class="form-control api-url" />

				<button type="button" class="btn api-params">Params</button>
				<div class="btn-group api-save">
					<button type="button" class="btn">Save</button>
					<button type="button" class="btn dropdown-toggle"
						data-toggle="dropdown" aria-expanded="false">
						<span class="caret"></span> <span class="sr-only">Toggle
							Dropdown</span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Save as</a></li>
					</ul>
				</div>
				<div class="btn-group api-send">
					<button type="button" class="btn">Send</button>
					<button type="button" class="btn dropdown-toggle"
						data-toggle="dropdown" aria-expanded="false">
						<span class="caret"></span> <span class="sr-only">Toggle
							Dropdown</span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Send and Download</a></li>
					</ul>
				</div>
			</div>
			<div class="api-configuration">
				<div role="tabpanel">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs nav-line" role="tablist">
						<li role="presentation" class=""><a href="#api-authorization"
							aria-controls="home5" role="tab" data-toggle="tab"
							aria-expanded="false">Authorization</a></li>
						<li role="presentation" class="active"><a href="#api-headers"
							aria-controls="profile5" role="tab" data-toggle="tab"
							class="active" aria-expanded="true">Headers</a></li>
						<li role="presentation"><a href="#api-body"
							aria-controls="messages5" role="tab" data-toggle="tab">Body</a></li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane" id="api-authorization">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
						</div>
						<div role="tabpanel" class="tab-pane active" id="api-headers">
							<p>Ut in leo ut libero sodales feugiat</p>
						</div>
						<div role="tabpanel" class="tab-pane" id="api-body">
							<p>Duis ac enim diam</p>
						</div>
					</div>
				</div>
			</div>
			<div class="response"></div>
		</div>
	</div>
</div>