<div id="web-view-control-group">
	<div class="input-group">
		<input type="text" id="live-browser-url" class="form-control"
			placeholder="Search" id="inputGroup" /> <span
			class="input-group-addon"> <i
			class="glyphicon glyphicon-search"></i>
		</span>
	</div>
	<button id="change-url" type="button" class="btn btn-default">
		<span class="glyphicon glyphicon-arrow-right"></span>
	</button>
	<button id="go-home" type="button" class="btn btn-default">
		<span class="glyphicon glyphicon-home"></span>
	</button>
</div>

<div id="web-container" role="tab-panel">
	<ul id="web-view-tabs" class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#tab1">
				<div id="tab-content">
					<!-- <img src="gif/page-load.gif"> -->
					<div id="page-title">Google</div>
				</div>
		</a></li>
		<li><a data-toggle="tab" id="add-newtab" href="#new-tab">
				<div id="tab-content">
					<!-- <span class="glyphicon glyphicon-plus"></span> -->
					<div id="page-title">New Tab</div>
				</div>
		</a></li>
	</ul>
	<div class="tab-content">
		<div id="tab1" class="tab-pane fade in active">
			<webview id="web-view" src="https://www.google.com"
				style="width: 100%;height: calc(100vw - 100px);"></webview>
		</div>
		<div id="new-tab" class="tab-pane fade">
			<webview id="web-view" src="about:blank"
				style="width: 100%;height: calc(100vw - 100px);"></webview>
		</div>
	</div>
</div>