<h3>Todo List</h3>
<!-- Start Panel -->
<div class="col-md-6 col-lg-4">
	<div class="panel panel-default">
		<div class="panel-title">
			With Tools
			<ul class="panel-tools">
				<li><a class="icon minimise-tool"><i class="fa fa-minus"></i></a></li>
				<li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
				<li><a class="icon closed-tool"><i class="fa fa-times"></i></a></li>
			</ul>
		</div>
		<div class="panel-body">We choose to go to the moon in this</div>

	</div>
</div>
<!-- End Panel -->